html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Nunito';
  background: #fcfcfc;
}   
 
:root { 
  --color: #8214ff;   
  --hover: rgba(130, 20, 255,0.07); 
  --pale: #f2f5f8;
  --gray: #eaeef1;
  --grad: linear-gradient(90deg, rgba(249,119,143,1) 0%, rgb(254, 172, 140) 100%);
  --shadow: 0 0 6px rgba(0,0,0,0.1);
}  
 
.grid {
  width: 1300px;
  margin: auto;
}
.spacer {
  height: 50px;
}
.spacers {
  height: 30px;
}
.spacerl {
  height: 100px;
} 
* {
  position: relative;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.2px;
  outline: none;
}
::selection {
  background: var(--color);
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
} 
.hidescroll::-webkit-scrollbar {
  display: none;
} 
::-webkit-scrollbar-track {
  background: #eee; 
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
  border-radius: 50px;
}
img {
  object-fit: cover;
  max-width: 100%;
}
button {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--color);
  transition: all 0.2s;
  padding: 9px 15px;
  background: var(--color);
  color: #fff;
  border-radius: 6px;
  box-shadow: 0px 10px 20px -2px rgba(53,182,250,0.05);
} 
button:active {
  transform: scale(0.97);
}
button:hover {
  filter: brightness(90%); 
} 
button i {
  margin-right: 10px;
}
a { 
  text-decoration: none;
  color: #111;
}
input, select {
  padding: 13px 10px;
  border-radius: 5px;
  border: 1px solid #ddd; 
  width: 100%;
} 
select {
  padding: 0;
}
select option {
  padding: 5px;
}
input[type="color"] {
  width: 200px;
  height: 45px;
  padding: 3px;
}
.appselect [role="option"] span {
  font-size: 12px;
}
input, textarea, select {
  outline: none;
  transition: all 0.3s;
  font-family: inherit;
}
input::placeholder, textarea::placeholder {
  color: #bbb;
  font-size: 12px;
}
hr {
  border: none;
}
.linkable {
  cursor: pointer;
}
.linkable:hover {
  text-decoration: underline;
  color: var(--color);
}
i.fa-bookmark, i.fa-heart, i.fa-comment {
  cursor: pointer;
}
i.fa-bookmark.saved {
  color: var(--color);
  font-weight: 600;
}
i.fa-heart.liked {
  color: var(--color);
  font-weight: 600;
}
