.homefeed {
  width: 100%;
  padding: 0 10px;
}
.homefeed .feedtitles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.homefeed .feedtitles h3 {
  color: #444;
}
