.homecont {
  padding: 30px;
  width: 100%;
}

@media (max-width:1400px) {
  .grid {
    width: 100%;
  }
  .homecont {
    padding: 30px 10px;
  }
}
@media (max-width:1080px) {
  .homepage {
    grid-template-columns: auto;
  }
  .homesidebar {
    display: none;
  }
}
@media (max-width:740px) {
  .bottomnav {
    width: 95%;
  }
  nav .navgroup:last-child, nav .navgroup .appinput {
    display: none;
  } 
}

