nav {
  width: 100%;
  height: 55px;
  background: var(--pale);
  padding: 10px 40px;
}
nav .grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
nav .navgroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .logo {
  cursor: pointer;
}
nav .navgroup h4 {
  font-weight: 900;
  color: #444;
  display: flex;
  align-items: center;
  margin-right: 40px;
}
nav .navgroup h4 img {
  width: 20px;
  margin-right: 10px;
}
nav input {
  border-radius: 40px;
  height: 40px;
  background: #fafafa;
  padding: 0 20px;
}
nav label i {
  top: 12px;
  right: 15px;
  color: #aaa;
}
nav .profcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  cursor: pointer;
  transition: all 0.2s;
  cursor: pointer;
  padding: 5px;
  border-radius: 40px;
  color: var(--graytxt);
}
nav .profcont:hover {
  background: #fff;
}
nav .profcont img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}
nav .profcont h6 {
  font-size: 12px;
}
nav .profcont i {
  transform: scaleX(0.9);
  transition: all 0.2s;
}
nav .toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 30px;
}
nav .toolbar i {
  color: #777;
  font-size: 20px;
  transition: all 0.2s;
  cursor: pointer;
}
nav .toolbar .darkmodecont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav .toolbar .darkmodecont label {
  top: -11px;
  margin-left: 30px;
}
.profslidecont {
  position: absolute;
  top: 58px;
  right: 0;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: all 0.3s;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  color: var(--graytxt);
}
.profslidecont-open {
  visibility: visible;
  opacity: 1;
  top: 48px;
}
.profslidecont a {
  font-size: 12.5px;
  padding: 10px 15px;
  font-weight: 600;
  transition: all 0.3s;
  color: var(--graytxt);
  opacity: 0.8;
}
.profslidecont a:hover {
  background: var(--pale);
  color: var(--color)
}
.profslidecont a i {
  margin-right: 7px;
}
.profslidecont h6 {
  padding: 10px;
  font-weight: 800;
  color: var(--graytxt);
}

