.postitemcont {
  width: 100%;
  height: 210px;
  background: #fff;
  box-shadow: var(--shadow);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  overflow: hidden;
} 
.postitemcont .covercont {
  width: 35%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.postitemcont .covercont img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.postitemcont .infocont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
  padding-left: 40px;
  height: 100%;
  width: 65%;
}
.postitemcont .infocont h3 {
  color: #333;
  font-size: 22px;
  cursor: pointer;
}
.postitemcont .infocont p {
  color: #aaa;
  font-size: 13.5px;
  margin-top: 10px;
}
.postitemcont .infocont .headercont {
  display: flex;
  flex-direction: column;
}
.postitemcont .elementscont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.postitemcont .authorcont, .postitemcont .actionscont {
  display: flex;
  align-items: center;
}
.postitemcont .authorcont img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 15px;
}
.postitemcont .authorcont h6 {
  font-size: 14.5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333;
}
.postitemcont .authorcont h6 span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.postitemcont .authorcont h6 small {
  font-size: 11px;
  margin-top: 1px;
  color: #aaa
}
.postitemcont .appbutton {
  margin-left: 10px;
}
.postitemcont .actionscont i.fa-bookmark {
  margin-left: 20px;
  font-size: 18px;
  color: #777;
}
.postitemcont .premiumbadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: var(--pale);
  color: #555;
  font-weight: 600;
  font-size: 13px;
  padding: 3px 10px;
  cursor: default;
  user-select: none;
}
.postitemcontnar {
  height: auto;
  background: none;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}
.postitemcontnar .infocont {
  width: 90%;
}
.postitemcontnar .infocont h3 {
  font-size: 18px;
}
.postitemcontnar .infocont p {
  font-size: 12px;
  margin-top: 5px;
}
.postitemcontnar .elementscont {
  margin-top: 7px;
}
.postitemcontnar .authorcont h6 {
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}
.postitemcontnar .authorcont h6 small {
  margin-left: 10px;
}
.postitemcontnar .authorcont img {
  display: none;
}
.postitemcontnar .covercont {
  width: 80px;
  height: 80px;
}

@media (max-width:780px) {
  .postitemcont {
    flex-direction: column;
    height: auto;
  }
  .postitemcont .covercont {
    width: 100%;
    height: 200px;
  }
  .postitemcont .infocont {
    width: 100%;
    padding-left: 20px;
    padding-top: 20px;
  }
  .postitemcont .elementscont {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width:473px) { 
  .postitemcont .actionscont {
    margin-top: 20px;
  } 
  .postitemcont .actionscont .appbutton {
    margin-left: 0;
    margin-right: 10px;
  }
}

