.profilepage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.profilepage > div {
  background: #fff;
  box-shadow: var(--shadow);
  padding: 15px;
  border-radius: 5px;
}






