.upgradepage {
  padding-bottom: 100px;
}
.upgradepage .banner {
  width: 100%;
  height: 320px;
  background-image: url('https://i.imgur.com/ByIO4gs.jpg');
  background-position: 0 500px;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-top: 50px;
}
.upgradepage .banner h3 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}
.upgradepage .banner h6 {
  font-size: 14px;
  color: rgba(255,255,255,0.75);
  font-weight: 300;
  margin-top: 5px;
}
.priceplanscont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: -120px;
  grid-gap: 30px;
  margin-bottom: -30px;
}
.paymentscont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pale);
  padding: 40px;
}
.paymentscont .left h3 {
  font-size: 30px;
  color: #555;
}
.paymentscont .fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #777;
  opacity: 0.3;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.paymentscont .fa-times:hover {
  opacity: 0.7;
}
.paymentscont .left h6 {
  color: var(--graytxt);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 30px;
}
.paymentscont .right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 20px;
}
.paymentscont .right h4 {
  color: var(--graytxt);
  cursor: pointer;
  margin-bottom: 20px;
}
.paymentscont .right h4:hover {
  text-decoration: underline;
}
.paymentscont .right img {
  width: 300px;
}
.paypalcontinner {
  width: 300px;
}
.paymentmessages {
  width: 500px;
  margin-top: 30px;
}
.paymentmessages p {
  color: var(--graytxt);
}
.paymentmessages p a {
  font-size: 13px;
  color: var(--color);
  margin-right: 20px;
}
.paymentmessages p a i {
  margin-right: 5px;
}
.qacont {
  text-align: center;
}
.qacont h3 {
  font-size: 30px;
  color: var(--graytxt);
}
.qacont h6 {
  color: var(--graytxt);
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 30px;
  opacity: 0.7;
  font-weight: 500;
}
.qacontinner {
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.qacontinner > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-gap: 10px;
  width: 200px;
}
.qacontinner .iconholder {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 13px rgba(0,0,0,0.14);
  background: var(--pale);
  margin-bottom: 25px;
}
.qacontinner .iconholder i {
  font-size: 30px;
  color: var(--color)
}
.qacontinner h4 {
  font-size: 20px;
  color: var(--graytxt);
}
.qacontinner p {
  color: var(--graytxt);
  opacity: 0.7;
  font-weight: 400;
}


